<html lang="en">
  <head>
    <title>Hello</title>
  </head>

  <body>

    {% if response.flash_obj %}
        <div>
            <div class="{{ response.flash_obj['class'] }}">{{ response.flash_obj['msg'] }}</div>
        </div>
    {% endif %}

    <a href="{{ a.url('/other', dict(foo='foo')) }}">{{ a.url('/other', dict(foo='foo')) }}</a>

    {%if foo%}
        <div>
            <p>
                Foo
                {% if request.identity %}
                    <span>{{ request.identity['user'].user_name }}</span>
                {% endif %}
            </p>
        </div>
    {%endif%}
    {% if not foo %}
        <div>
            <p>
                Bar
                {% if request.identity %}
                    <span>{{ request.identity['user'].user_name }}</span>
                {% endif %}
            </p>
        </div>
    {% endif %}

    {% if form is defined %}
        <div>
            <span>Upload an image, it will be shown back to you.<br/>
            This only works with browsers that support HTML5 as the image won't be save on disk</span>
            {{ form.render() }}
        </div>
    {% endif %}
  </body>
</html>
